<div id= "<%= dom_id(venue) %>">
  <h4><%= link_to venue.name, venue_path(venue) %></h4>
  <P><%= venue.description %></p>
  <p><%= venue.address.street %>, <%= venue.address.city %>, <%= venue.address.country %></p>
  <%= link_to 'Edit', edit_venue_path(venue), class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
</div>