<h2>Venues</h2>

<%= link_to 'New Venue', new_admin_venue_path, class: 'btn btn-outline-primary btn-sm' %>

<% @venues.each do |venue| %>
  <div>
    <h3><%= link_to venue.name, admin_venue_path(venue) %></h3>
    <p><%= venue.description %></p>
    <p><%= venue.address.street %>, <%= venue.address.city %>, <%= venue.address.country %></p>
  </div>
<% end %>
