<h2><%= @venue.name %></h2>
<p><%= @venue.description %></p>

<h3>Offers</h3>
<% @venue.offers.each do |offer| %>
  <%= render partial: 'admin/offers/offer', locals: { offer: offer } %>
<% end %>

<%= link_to 'Back to Venues', admin_venues_path, class: 'btn btn-secondary' %>
<%= link_to 'New Offer', new_admin_venue_offer_path(@venue), class: 'btn btn-primary' %>
