<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Offer</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.venue.name %></td>
        <td><%= reservation.offer.title %></td>
        <td><%= reservation.venue_admin.company_name %></td>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.end_date %></td>
        <td>
          <%= link_to 'Cancel', venue_reservation_path(reservation.venue, reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Reservation', new_venue_reservation_path %>
