<%= form_with(model: [:admin, @offer, @variant]) do |form| %>
  <% if @variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h2>
      <ul>
        <% @variant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, min: 1 %>
  </div>

   <div class="field">
    <%= form.label :period, 'Select Period' %>
    <%= form.select :period, options_for_select(period_options) %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Variant' %>
    <% if @variant.persisted? %>
      <%= link_to "Cancel", admin_offer_variant_path(@offer, @variant) %>
    <% else %>
      <%= link_to "Cancel", admin_offer_path(@offer) %>
    <% end %>
  </div>
<% end %>