<h1>Available Offers</h1>

<% @venues.each do |venue| %>
  <div>
    <h2><%= venue.name %></h2>
    <p><%= venue.description %></p>
    <p>Location: <%= venue.address.street %>, <%= venue.address.city %>, <%= venue.address.country %></p>
    <h3>Offers:</h3>
    <ul>
      <% venue.offers.each do |offer| %>
        <li>
          <h4><%= link_to offer.title, offer_path(offer) %></h4>
          <p><%= offer.description %></p>
          <p>Price: $<%= offer.price %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
