<turbo-frame id="<%= dom_id(@offer) %>">
  <h1><%= @offer.title %></h1>
  <p><%= @offer.description %></p>
  <p>Price: $<%= @offer.price %></p>
</turbo-frame>

<%= form_with model: [@offer, @offer.orders.build], local: true do |form| %>
  <div>
    <%= form.radio_button :duration, 'day' %>
    <%= form.label :duration_day, 'Per Day' %>
    
    <%= form.radio_button :duration, 'month' %>
    <%= form.label :duration_month, 'Per Month' %>
  </div>

  <%= form.submit 'Place Order', class: 'btn btn-primary' %>
<% end %>

