<h1><%= @offer.title %></h1>
<p><%= @offer.description %></p>

<h2>Variants</h2>
  <%= turbo_frame_tag "variants" do %>
    <%= render @offer.variants %>
  <% end %>

<%= link_to 'New Variant', new_offer_variant_path(@offer), class: 'btn btn-secondary' %>
<%= link_to 'Back to Offers', venue_offers_path(@offer.venue), class: 'btn btn-secondary' %>
