<!DOCTYPE html>
<html>
<head>
  <title>Work Nest</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag 'application.bootstrap', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom"> <%# Zmienione na jasne tło, by logo było widoczne %>
  <div class="container">
    <%= link_to admin_root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "WorkNest", class: "custom-logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <%= link_to 'Home', admin_root_path, class: "nav-link text-dark" %>
        </li>
        
        <% if venue_admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_venue_admin_session_path, data: { turbo_method: :delete }, class: "nav-link text-dark" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_venue_admin_session_path, class: "nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_venue_admin_registration_path, class: "nav-link btn btn-dark text-white ms-lg-2 px-4" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>

  
 <main class="container mt-4">
  <div id="notice-container"><%= notice %></div>
    <div class="content">
      <%= yield %>
    </div>
  </main>

  <footer class="py-4 text-center text-body-secondary border-top">
    <div class="container">
      <p class="mb-0">&copy; 2025 Work Nest. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>